---
- name: Modify Files on App Servers
  hosts: all
  become: true
  
  tasks:
    - name: Modify file in App Server 1
      replace:
       path: /opt/sysops/blog.txt
       regexp: 'xFusionCorp'
       replace: 'Nautilus'
      when: inventory_hostname == 'stapp01'

    - name: Modify file in App Server 2
      replace:
       path: /opt/sysops/story.txt
       regexp: 'Nautilus'
       replace: 'KodeKloud'
      when: inventory_hostname == 'stapp02'

    - name: Modify file in App Server 3
      replace: 
       path: /opt/sysops/media.txt
       regexp: 'KodeKloud'
       replace: 'xFusionCorp Industries'
      when: inventory_hostname == 'stapp03'