---
- name: Install Apache httpd on all App Servers
  hosts: all
  become: true

  tasks:
    - name: Install Apache 
      package: 
        name: httpd
        state: present
    - name: Ensure Apache is started and enabled
      service:
        name: httpd
        state: started
        enabled: true
    